@model HomeViewModel

@{
    ViewData["Title"] = "Obras";
}

<h1>Obras</h1>

<p>
    <a asp-action="Create">Create New Obra</a>
</p>

@await Html.PartialAsync("_CarruselObras", Model.Obras)

@foreach (var expo in Model.Exposiciones)
{
    <div class="card">
        <div class="card-header">
            @expo.Nombre
        </div>
        <div class="card-body">
            <p class="card-text">@expo.FechaInicio</p>
            <p class="card-text">@expo.FechaFin</p>
            <a asp-controller="Exposiciones" asp-action="Details" apr-route-id="@expo.Id" class="btn btn-primary">Ver Exposicion</a>
        </div>
    </div>
}
